<form [formGroup]="form" (ngSubmit)="guardar()">

    <h2 mat-dialog-title>
        <mat-icon>{{ modoEdicion ? 'edit' : 'add' }}</mat-icon>
        {{ modoEdicion ? 'Editar Módulo' : 'Nuevo Módulo' }}
    </h2>

    <mat-dialog-content>
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Nombre del módulo</mat-label>
            <input matInput formControlName="nombre" placeholder="Ej: Clínica">
            <mat-icon matSuffix>apps</mat-icon>
            @if (nombre.hasError('required') && nombre.touched) {
                <mat-error>El nombre es obligatorio</mat-error>
            }
            @if (nombre.hasError('maxlength') && nombre.touched) {
                <mat-error>Máximo 80 caracteres</mat-error>
            }
        </mat-form-field>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <button mat-button type="button" (click)="cerrar()" [disabled]="cargando()">
            Cancelar
        </button>
        <button mat-raised-button color="primary" type="submit" [disabled]="cargando()">
            @if (cargando()) {
                <mat-spinner diameter="20" />
            } @else {
                <ng-container>
                    <mat-icon>save</mat-icon>
                    {{ modoEdicion ? 'Actualizar' : 'Guardar' }}
                </ng-container>
            }
        </button>
    </mat-dialog-actions>

</form>